* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --Scissors-Gradient: linear-gradient(to right, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --Paper-Gradient: linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --Rock-Gradient: linear-gradient(to right, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --Lizard-Gradient: linear-gradient(to right, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --Cyan: linear-gradient(to right , hsl(189, 59%, 53%), hsl(189, 58%, 57%));

  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);

/* Background */

  --Radial-Gradient: linear-gradient(to right, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

body {
  background-image: var(--Radial-Gradient);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  min-height: 100vh;
}

a, button, img {
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 10rem;
  width: 100%;
}

.choose-game {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: var(--Radial-Gradient);
  z-index: 3;
  font-family: cursive;
}

.choose-game h1 {
  color: white;
  font-size: 4rem;
  font-weight: 800;
}

.choose-game p {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.choose-game .game-choice {
  display: flex;
  flex-direction: column;
}

.choose-game .game-choice button {
  margin: 1rem 0;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.choose-game .game-choice button.rps {
  background-color: hsl(230, 89%, 65%);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.choose-game .game-choice button.rpsls {
  background-color: hsl(349, 70%, 56%);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.score-board {
  border: 2px solid white;
  border-radius: 8px;
  padding: 1rem 2rem;
  min-width: 36rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.score-board .score {
  color: var(--Dark-Text);
  background-color: white;
  padding: .5rem 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-board .score p {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--Score-Text);
  font-size: 1.2rem;
  font-weight: 700;
}

.score-board .score h2 {
  font-size: 4rem;
}

.outer-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}

.game-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  width: 30rem;
  height: 30rem;
  position: relative;
  background-image: url(../public/images/bg-triangle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.game-display-container.rpsls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  width: 30rem;
  height: 30rem;
  position: relative;
  background-image: url(../public/images/bg-pentagon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.game-display-container.no-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  width: 30rem;
  height: 30rem;
  position: relative;
  background-image: none;
}

.game-display {
  position: absolute;
  width: 100%;
  height: 100%;
}

.rock-button {
  position: absolute;
  bottom: 0;
}

.game-display-container .paper-button {
  position: absolute;
  width: 168px;
  top: -3rem;
  left: 387px;
}

.scissors-button {
  position: absolute;
  top: -3rem;
  left: -3rem;
}

.game-display-container.rpsls .scissors-button {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

.game-display-container.rpsls .spock-button {
  position: absolute;
  left: -3rem;
  top: 7rem;
}

.game-display-container.rpsls .paper-button {
  position: absolute;
  left: 22rem;
  top: 7.5rem;
}

.game-display-container.rpsls .rock-button {
  position: absolute;
  left: 18rem;
  top: 26rem;
}

.game-display-container.rpsls .lizard-button {
  position: absolute;
  left: 0;
  top: 23rem;
}

.game-display-choice{
  position: absolute;
}

.game-display-choice.user {
  top: 0;
  left: -2rem;
}
.game-display-choice.user .choice-button {
  position: static;
}

.game-display-choice.computer {
  top: 0;
  right: -3rem;
}

.game-display-choice.computer .choice-button {
  position: static;
}

.inner-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px 2px #665f5f inset;
  background-color: white;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
}

.choice-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rock-button .outer-circle {
  background-image: var(--Rock-Gradient);
  box-shadow: 0px 6px 2px 0px hsl(349, 70%, 56%);
}

.paper-button .outer-circle {
  background-image: var(--Paper-Gradient);
  box-shadow: 0px 6px 2px 0px  hsl(230, 89%, 65%);
}

.scissors-button .outer-circle {
  background-image: var(--Scissors-Gradient);
  box-shadow: 0px 6px 2px 0px hsl(40, 84%, 53%);
}

.spock-button .outer-circle {
  background-image: var(--Cyan);
  box-shadow: 0px 6px 2px 0px hsl(189, 58%, 57%);
}

.lizard-button .outer-circle {
  background-image: var(--Lizard-Gradient);
  box-shadow: 0px 6px 2px 0px hsl(261, 72%, 63%);
}


.rules {
  position: absolute;
  /* top: 2rem; */
  right: 3rem;

  background: transparent;
  border: 1px solid white;
  border-radius: 4px;
  color: white;

  padding: 1rem 3rem;
}

.rules-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.7);
}

.rules-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 25rem;
  padding: 2rem;
  background-color: white;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rules-modal .modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

.rules-modal .modal-head h1{
  color: hsl(237, 49%, 15%);
  font-weight: 700;
}

.rules-modal .image-rules {
  width: 100%;
}

.result-info {
  position: absolute;
  left: 50%;
  margin-top: 5rem;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12rem;
  text-align: center;
  font-weight: 600;
}

.result-info h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
}

.result-info button {
  background-color: white;
  color: hsl(237, 49%, 15%);
  padding: 1rem 0;
  border-radius: 8px;
  letter-spacing: 2px;
  width: 12rem;
}

.result-info button:hover {
  color: hsl(349, 70%, 56%);
}

@media (min-width: 960px) {
  .rules {
    top: 2rem;
  }
}

@media (max-width: 960px) {
  .rules {
    top: auto;
    bottom: 1rem;
  }
}

@media (max-width: 540px) {

  .choose-game h1 {
    font-size: 3rem;
  }
  
  .choose-game p {
    font-size: 1rem;
  }
  
  .choose-game .game-choice button {
    margin: 1rem 0;
    padding: 1rem 2rem;
    border-radius: 8px;
  }
  
  .choose-game .game-choice button.rps {
    font-size: 1rem;
  }
  
  .choose-game .game-choice button.rpsls {
    font-size: 1rem;
  }

  .score-board {
    border: 2px solid white;
    border-radius: 8px;
    padding: .5rem 1rem;
    min-width: 18rem;
  }

  .score-board img {
    width: 8rem;
  }
  
  .score-board .score {
    padding: .2rem 1rem;
  }
  
  .score-board .score p {
    font-size: 1rem;
  }
  
  .score-board .score h2 {
    font-size: 3rem;
  }

  .outer-circle {
    width: 7rem;
    height: 7rem;
  }

  .inner-circle {
    width: 5rem;
    height: 5rem;
  }

  .game-display-container .paper-button {
    width: auto;
    left: 10rem;
  }

  .game-display-container {
    margin-top: 7rem;
    margin-bottom: 10rem;
    width: 15rem;
    height: 15rem;
    position: relative;
  }

  .game-display-container.rpsls {
    margin-top: 6rem;
    width: 15rem;
    height: 15rem;
  }

  .game-display-container.rpsls .scissors-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .game-display-container.rpsls .spock-button {
    position: absolute;
    left: -3rem;
    top: 2rem;
  }
  
  .game-display-container.rpsls .paper-button {
    position: absolute;
    left: 11rem;
    top: 2rem;
  }
  
  .game-display-container.rpsls .rock-button {
    position: absolute;
    left: 9rem;
    top: 12rem;
  }
  
  .game-display-container.rpsls .lizard-button {
    position: absolute;
    left: 0;
    top: 10rem;
  }
  
  .game-display-container.no-background {
    margin-top: 7rem;
    margin-bottom: 10rem;
    width: 15rem;
    height: 15rem;
    position: relative;
  }

  .game-display-container.no-background h2{
    font-size: 1rem;
  }

  .rock-button .outer-circle {
    background-image: var(--Rock-Gradient);
    box-shadow: 0px 3px 2px 0px hsl(349, 70%, 56%);
  }
  
  .paper-button .outer-circle {
    background-image: var(--Paper-Gradient);
    box-shadow: 0px 3px 2px 0px  hsl(230, 89%, 65%);
  }
  
  .scissors-button .outer-circle {
    background-image: var(--Scissors-Gradient);
    box-shadow: 0px 3px 2px 0px hsl(40, 84%, 53%);
  }

  .rules {
    bottom: 1rem;
    left: 50%;
    top: auto;
    transform: translateX(-50%);
  }

  .result-info {
    bottom: -3rem;
  }

  .rules-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  
    width: 90%;
    padding: 2rem;
    background-color: white;
    border-radius: 16px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .rules-modal .modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
  }

  .rules-modal .icon-close {
    width: 1rem;
  }

  .rules-modal img {
    width: 100%;
  }
}

@media (max-width: 300px) {

  .choose-game h1 {
    font-size: 2rem;
  }

  .choose-game .game-choice button {
    margin: 1rem 0;
    padding: 1rem 2rem;
    border-radius: 8px;
  }
  
  .choose-game .game-choice button.rps {
    font-size: .6rem;
  }
  
  .choose-game .game-choice button.rpsls {
    font-size: .6rem;
  }

  .score-board {
    border: 2px solid white;
    border-radius: 8px;
    padding: .5rem 1rem;
    min-width: 16rem;
  }

  .score-board img {
    width: 6rem;
  }
  
  .score-board .score {
    padding: .2rem 1rem;
  }
  
  .score-board .score p {
    font-size: 1rem;
  }
  
  .score-board .score h2 {
    font-size: 2rem;
  }

  .outer-circle {
    width: 5rem;
    height: 5rem;
  }

  .inner-circle {
    width: 3rem;
    height: 3rem;
  }

  .inner-circle img {
    width: 2rem;
    height: 2rem;
  }

  .game-display-container .scissors-button {
    width: auto;
    top: -2rem;
    left: -2rem;
  }

  .game-display-container .paper-button {
    width: auto;
    top: -2rem;
    left: 7rem;
  }

  .game-display-container {
    margin-top: 8rem;
    margin-bottom: 10rem;
    width: 10rem;
    height: 10rem;
    position: relative;
  }
  
  .game-display-container.no-background {
    margin-top: 3rem;
    margin-bottom: 10rem;
    width: 10rem;
    height: 10rem;
    position: relative;
  }

  .game-display-container.no-background h2{
    font-size: .7rem;
  }

  .rules {
    top: auto;
    width: 100%;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .result-info {
    bottom: -7rem;
  }

  .rules-modal {
    padding: 1rem;
  }

  .game-display-container.rpsls .outer-circle {
    width: 4rem;
    height: 4rem;
  }

  .game-display-container.rpsls .inner-circle {
    width: 3rem;
    height: 3rem;
  }

  .game-display-container.rpsls img {
    width: 1rem;
    height: 1rem;
  }

  .game-display-container.rpsls {
    margin-top: 6rem;
    width: 10rem;
    height: 10rem;
  }

  .game-display-container.rpsls .scissors-button {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .game-display-container.rpsls .spock-button {
    position: absolute;
    left: -1.5rem;
    top: 2rem;
  }
  
  .game-display-container.rpsls .paper-button {
    position: absolute;
    left: 4rem;
    top: 2.2rem;
  }
  
  .game-display-container.rpsls .rock-button {
    position: absolute;
    left: 6rem;
    top: 9rem;
  }
  
  .game-display-container.rpsls .lizard-button {
    position: absolute;
    left: 0rem;
    top: 7.5rem;
  }
}